# IDEA
.idea
*iml
.DS_Store

# gradle
.gradle
build

# log
logs
consensus-logs

# lombok
out

# levelDB
tron-data
database*

# database
database

# doc
doc

# gossip
pernodedata.*
ringstate.*
shareddata.*

# protobuf generated classes
src/main/gen

src/main/java/org/tron/core/bftconsensus
src/test/java/org/tron/consensus2
src/main/java/META-INF/
src/main/resources/META-INF/
/bin/

# Eclipse IDE specific files and folders
/.project
/.classpath
/.settings/
/.apt_generated/

# output directory
/output-directory/

/output_manager/
/output_witness/
output*
nodeId.properties
Wallet

# vm_trace
/vm_trace/
framework/note_encdec_test/account/000005.log
framework/note_encdec_test/account/CURRENT
framework/note_encdec_test/account/LOCK
framework/note_encdec_test/account/LOG
framework/note_encdec_test/account/LOG.old
framework/note_encdec_test/account/MANIFEST-000004
framework/note_encdec_test/account-index/000005.log
framework/note_encdec_test/account-index/CURRENT
framework/note_encdec_test/account-index/LOCK
framework/note_encdec_test/account-index/LOG
framework/note_encdec_test/account-index/LOG.old
framework/note_encdec_test/account-index/MANIFEST-000004
framework/note_encdec_test/accountid-index/000005.log
framework/note_encdec_test/accountid-index/CURRENT
framework/note_encdec_test/accountid-index/LOCK
framework/note_encdec_test/accountid-index/LOG
framework/note_encdec_test/accountid-index/LOG.old
framework/note_encdec_test/accountid-index/MANIFEST-000004
framework/note_encdec_test/accountTrie/000005.log
framework/note_encdec_test/accountTrie/CURRENT
framework/note_encdec_test/accountTrie/LOCK
framework/note_encdec_test/accountTrie/LOG
framework/note_encdec_test/accountTrie/LOG.old
framework/note_encdec_test/accountTrie/MANIFEST-000004
framework/note_encdec_test/asset-issue/000005.log
framework/note_encdec_test/asset-issue/CURRENT
framework/note_encdec_test/asset-issue/LOCK
framework/note_encdec_test/asset-issue/LOG
framework/note_encdec_test/asset-issue/LOG.old
framework/note_encdec_test/asset-issue/MANIFEST-000004
framework/note_encdec_test/asset-issue-v2/000005.log
framework/note_encdec_test/asset-issue-v2/CURRENT
framework/note_encdec_test/asset-issue-v2/LOCK
framework/note_encdec_test/asset-issue-v2/LOG
framework/note_encdec_test/asset-issue-v2/LOG.old
framework/note_encdec_test/asset-issue-v2/MANIFEST-000004
framework/note_encdec_test/block/000005.log
framework/note_encdec_test/block/CURRENT
framework/note_encdec_test/block/LOCK
framework/note_encdec_test/block/LOG
framework/note_encdec_test/block/LOG.old
framework/note_encdec_test/block/MANIFEST-000004
framework/note_encdec_test/block-index/000005.log
framework/note_encdec_test/block-index/CURRENT
framework/note_encdec_test/block-index/LOCK
framework/note_encdec_test/block-index/LOG
framework/note_encdec_test/block-index/LOG.old
framework/note_encdec_test/block-index/MANIFEST-000004
framework/note_encdec_test/block_KDB/000005.log
framework/note_encdec_test/block_KDB/CURRENT
framework/note_encdec_test/block_KDB/LOCK
framework/note_encdec_test/block_KDB/LOG
framework/note_encdec_test/block_KDB/LOG.old
framework/note_encdec_test/block_KDB/MANIFEST-000004
framework/note_encdec_test/code/000005.log
framework/note_encdec_test/code/CURRENT
framework/note_encdec_test/code/LOCK
framework/note_encdec_test/code/LOG
framework/note_encdec_test/code/LOG.old
framework/note_encdec_test/code/MANIFEST-000004
framework/note_encdec_test/contract/000005.log
framework/note_encdec_test/contract/CURRENT
framework/note_encdec_test/contract/LOCK
framework/note_encdec_test/contract/LOG
framework/note_encdec_test/contract/LOG.old
framework/note_encdec_test/contract/MANIFEST-000004
framework/note_encdec_test/DelegatedResource/000005.log
framework/note_encdec_test/DelegatedResource/CURRENT
framework/note_encdec_test/DelegatedResource/LOCK
framework/note_encdec_test/DelegatedResource/LOG
framework/note_encdec_test/DelegatedResource/LOG.old
framework/note_encdec_test/DelegatedResource/MANIFEST-000004
framework/note_encdec_test/DelegatedResourceAccountIndex/000005.log
framework/note_encdec_test/DelegatedResourceAccountIndex/CURRENT
framework/note_encdec_test/DelegatedResourceAccountIndex/LOCK
framework/note_encdec_test/DelegatedResourceAccountIndex/LOG
framework/note_encdec_test/DelegatedResourceAccountIndex/LOG.old
framework/note_encdec_test/DelegatedResourceAccountIndex/MANIFEST-000004
framework/note_encdec_test/exchange/000005.log
framework/note_encdec_test/exchange/CURRENT
framework/note_encdec_test/exchange/LOCK
framework/note_encdec_test/exchange/LOG
framework/note_encdec_test/exchange/LOG.old
framework/note_encdec_test/exchange/MANIFEST-000004
framework/note_encdec_test/exchange-v2/000005.log
framework/note_encdec_test/exchange-v2/CURRENT
framework/note_encdec_test/exchange-v2/LOCK
framework/note_encdec_test/exchange-v2/LOG
framework/note_encdec_test/exchange-v2/LOG.old
framework/note_encdec_test/exchange-v2/MANIFEST-000004
framework/note_encdec_test/IncrementalMerkleTree/000005.log
framework/note_encdec_test/IncrementalMerkleTree/CURRENT
framework/note_encdec_test/IncrementalMerkleTree/LOCK
framework/note_encdec_test/IncrementalMerkleTree/LOG
framework/note_encdec_test/IncrementalMerkleTree/LOG.old
framework/note_encdec_test/IncrementalMerkleTree/MANIFEST-000004
framework/note_encdec_test/nullifier/000005.log
framework/note_encdec_test/nullifier/CURRENT
framework/note_encdec_test/nullifier/LOCK
framework/note_encdec_test/nullifier/LOG
framework/note_encdec_test/nullifier/LOG.old
framework/note_encdec_test/nullifier/MANIFEST-000004
framework/note_encdec_test/peers/000005.log
framework/note_encdec_test/peers/CURRENT
framework/note_encdec_test/peers/LOCK
framework/note_encdec_test/peers/LOG
framework/note_encdec_test/peers/LOG.old
framework/note_encdec_test/peers/MANIFEST-000004
framework/note_encdec_test/properties/000005.sst
framework/note_encdec_test/properties/000006.log
framework/note_encdec_test/properties/CURRENT
framework/note_encdec_test/properties/LOCK
framework/note_encdec_test/properties/LOG
framework/note_encdec_test/properties/LOG.old
framework/note_encdec_test/properties/MANIFEST-000004
framework/note_encdec_test/proposal/000005.log
framework/note_encdec_test/proposal/CURRENT
framework/note_encdec_test/proposal/LOCK
framework/note_encdec_test/proposal/LOG
framework/note_encdec_test/proposal/LOG.old
framework/note_encdec_test/proposal/MANIFEST-000004
framework/note_encdec_test/recent-block/000005.log
framework/note_encdec_test/recent-block/CURRENT
framework/note_encdec_test/recent-block/LOCK
framework/note_encdec_test/recent-block/LOG
framework/note_encdec_test/recent-block/LOG.old
framework/note_encdec_test/recent-block/MANIFEST-000004
framework/note_encdec_test/storage-row/000005.log
framework/note_encdec_test/storage-row/CURRENT
framework/note_encdec_test/storage-row/LOCK
framework/note_encdec_test/storage-row/LOG
framework/note_encdec_test/storage-row/LOG.old
framework/note_encdec_test/storage-row/MANIFEST-000004
framework/note_encdec_test/trans/000005.log
framework/note_encdec_test/trans/CURRENT
framework/note_encdec_test/trans/LOCK
framework/note_encdec_test/trans/LOG
framework/note_encdec_test/trans/LOG.old
framework/note_encdec_test/trans/MANIFEST-000004
framework/note_encdec_test/transactionHistoryStore/000005.log
framework/note_encdec_test/transactionHistoryStore/CURRENT
framework/note_encdec_test/transactionHistoryStore/LOCK
framework/note_encdec_test/transactionHistoryStore/LOG
framework/note_encdec_test/transactionHistoryStore/LOG.old
framework/note_encdec_test/transactionHistoryStore/MANIFEST-000004
framework/note_encdec_test/transactionRetStore/000005.log
framework/note_encdec_test/transactionRetStore/CURRENT
framework/note_encdec_test/transactionRetStore/LOCK
framework/note_encdec_test/transactionRetStore/LOG
framework/note_encdec_test/transactionRetStore/LOG.old
framework/note_encdec_test/transactionRetStore/MANIFEST-000004
framework/note_encdec_test/tree-block-index/000005.log
framework/note_encdec_test/tree-block-index/CURRENT
framework/note_encdec_test/tree-block-index/LOCK
framework/note_encdec_test/tree-block-index/LOG
framework/note_encdec_test/tree-block-index/LOG.old
framework/note_encdec_test/tree-block-index/MANIFEST-000004
framework/note_encdec_test/votes/000005.log
framework/note_encdec_test/votes/CURRENT
framework/note_encdec_test/votes/LOCK
framework/note_encdec_test/votes/LOG
framework/note_encdec_test/votes/LOG.old
framework/note_encdec_test/votes/MANIFEST-000004
framework/note_encdec_test/witness/000005.log
framework/note_encdec_test/witness/CURRENT
framework/note_encdec_test/witness/LOCK
framework/note_encdec_test/witness/LOG
framework/note_encdec_test/witness/LOG.old
framework/note_encdec_test/witness/MANIFEST-000004
framework/note_encdec_test/witness_schedule/000005.log
framework/note_encdec_test/witness_schedule/CURRENT
framework/note_encdec_test/witness_schedule/LOCK
framework/note_encdec_test/witness_schedule/LOG
framework/note_encdec_test/witness_schedule/LOG.old
framework/note_encdec_test/witness_schedule/MANIFEST-000004
framework/note_encdec_test/zkProof/000005.log
framework/note_encdec_test/zkProof/CURRENT
framework/note_encdec_test/zkProof/LOCK
framework/note_encdec_test/zkProof/LOG
framework/note_encdec_test/zkProof/LOG.old
framework/note_encdec_test/zkProof/MANIFEST-000004
framework/receive_description_test/account/000005.log
framework/receive_description_test/account/CURRENT
framework/receive_description_test/account/LOCK
framework/receive_description_test/account/LOG
framework/receive_description_test/account/LOG.old
framework/receive_description_test/account/MANIFEST-000004
framework/receive_description_test/account-index/000005.log
framework/receive_description_test/account-index/CURRENT
framework/receive_description_test/account-index/LOCK
framework/receive_description_test/account-index/LOG
framework/receive_description_test/account-index/LOG.old
framework/receive_description_test/account-index/MANIFEST-000004
framework/receive_description_test/accountid-index/000005.log
framework/receive_description_test/accountid-index/CURRENT
framework/receive_description_test/accountid-index/LOCK
framework/receive_description_test/accountid-index/LOG
framework/receive_description_test/accountid-index/LOG.old
framework/receive_description_test/accountid-index/MANIFEST-000004
framework/receive_description_test/accountTrie/000005.log
framework/receive_description_test/accountTrie/CURRENT
framework/receive_description_test/accountTrie/LOCK
framework/receive_description_test/accountTrie/LOG
framework/receive_description_test/accountTrie/LOG.old
framework/receive_description_test/accountTrie/MANIFEST-000004
framework/receive_description_test/asset-issue/000005.log
framework/receive_description_test/asset-issue/CURRENT
framework/receive_description_test/asset-issue/LOCK
framework/receive_description_test/asset-issue/LOG
framework/receive_description_test/asset-issue/LOG.old
framework/receive_description_test/asset-issue/MANIFEST-000004
framework/receive_description_test/asset-issue-v2/000005.log
framework/receive_description_test/asset-issue-v2/CURRENT
framework/receive_description_test/asset-issue-v2/LOCK
framework/receive_description_test/asset-issue-v2/LOG
framework/receive_description_test/asset-issue-v2/LOG.old
framework/receive_description_test/asset-issue-v2/MANIFEST-000004
framework/receive_description_test/block/000005.log
framework/receive_description_test/block/CURRENT
framework/receive_description_test/block/LOCK
framework/receive_description_test/block/LOG
framework/receive_description_test/block/LOG.old
framework/receive_description_test/block/MANIFEST-000004
framework/receive_description_test/block-index/000005.log
framework/receive_description_test/block-index/CURRENT
framework/receive_description_test/block-index/LOCK
framework/receive_description_test/block-index/LOG
framework/receive_description_test/block-index/LOG.old
framework/receive_description_test/block-index/MANIFEST-000004
framework/receive_description_test/block_KDB/000005.log
framework/receive_description_test/block_KDB/CURRENT
framework/receive_description_test/block_KDB/LOCK
framework/receive_description_test/block_KDB/LOG
framework/receive_description_test/block_KDB/LOG.old
framework/receive_description_test/block_KDB/MANIFEST-000004
framework/receive_description_test/code/000005.log
framework/receive_description_test/code/CURRENT
framework/receive_description_test/code/LOCK
framework/receive_description_test/code/LOG
framework/receive_description_test/code/LOG.old
framework/receive_description_test/code/MANIFEST-000004
framework/receive_description_test/contract/000005.log
framework/receive_description_test/contract/CURRENT
framework/receive_description_test/contract/LOCK
framework/receive_description_test/contract/LOG
framework/receive_description_test/contract/LOG.old
framework/receive_description_test/contract/MANIFEST-000004
framework/receive_description_test/DelegatedResource/000005.log
framework/receive_description_test/DelegatedResource/CURRENT
framework/receive_description_test/DelegatedResource/LOCK
framework/receive_description_test/DelegatedResource/LOG
framework/receive_description_test/DelegatedResource/LOG.old
framework/receive_description_test/DelegatedResource/MANIFEST-000004
framework/receive_description_test/DelegatedResourceAccountIndex/000005.log
framework/receive_description_test/DelegatedResourceAccountIndex/CURRENT
framework/receive_description_test/DelegatedResourceAccountIndex/LOCK
framework/receive_description_test/DelegatedResourceAccountIndex/LOG
framework/receive_description_test/DelegatedResourceAccountIndex/LOG.old
framework/receive_description_test/DelegatedResourceAccountIndex/MANIFEST-000004
framework/receive_description_test/exchange/000005.log
framework/receive_description_test/exchange/CURRENT
framework/receive_description_test/exchange/LOCK
framework/receive_description_test/exchange/LOG
framework/receive_description_test/exchange/LOG.old
framework/receive_description_test/exchange/MANIFEST-000004
framework/receive_description_test/exchange-v2/000005.log
framework/receive_description_test/exchange-v2/CURRENT
framework/receive_description_test/exchange-v2/LOCK
framework/receive_description_test/exchange-v2/LOG
framework/receive_description_test/exchange-v2/LOG.old
framework/receive_description_test/exchange-v2/MANIFEST-000004
framework/receive_description_test/IncrementalMerkleTree/000005.log
framework/receive_description_test/IncrementalMerkleTree/CURRENT
framework/receive_description_test/IncrementalMerkleTree/LOCK
framework/receive_description_test/IncrementalMerkleTree/LOG
framework/receive_description_test/IncrementalMerkleTree/LOG.old
framework/receive_description_test/IncrementalMerkleTree/MANIFEST-000004
framework/receive_description_test/nullifier/000005.log
framework/receive_description_test/nullifier/CURRENT
framework/receive_description_test/nullifier/LOCK
framework/receive_description_test/nullifier/LOG
framework/receive_description_test/nullifier/LOG.old
framework/receive_description_test/nullifier/MANIFEST-000004
framework/receive_description_test/peers/000005.log
framework/receive_description_test/peers/CURRENT
framework/receive_description_test/peers/LOCK
framework/receive_description_test/peers/LOG
framework/receive_description_test/peers/LOG.old
framework/receive_description_test/peers/MANIFEST-000004
framework/receive_description_test/properties/000005.sst
framework/receive_description_test/properties/000006.log
framework/receive_description_test/properties/CURRENT
framework/receive_description_test/properties/LOCK
framework/receive_description_test/properties/LOG
framework/receive_description_test/properties/LOG.old
framework/receive_description_test/properties/MANIFEST-000004
framework/receive_description_test/proposal/000005.log
framework/receive_description_test/proposal/CURRENT
framework/receive_description_test/proposal/LOCK
framework/receive_description_test/proposal/LOG
framework/receive_description_test/proposal/LOG.old
framework/receive_description_test/proposal/MANIFEST-000004
framework/receive_description_test/recent-block/000005.log
framework/receive_description_test/recent-block/CURRENT
framework/receive_description_test/recent-block/LOCK
framework/receive_description_test/recent-block/LOG
framework/receive_description_test/recent-block/LOG.old
framework/receive_description_test/recent-block/MANIFEST-000004
framework/receive_description_test/storage-row/000005.log
framework/receive_description_test/storage-row/CURRENT
framework/receive_description_test/storage-row/LOCK
framework/receive_description_test/storage-row/LOG
framework/receive_description_test/storage-row/LOG.old
framework/receive_description_test/storage-row/MANIFEST-000004
framework/receive_description_test/trans/000005.log
framework/receive_description_test/trans/CURRENT
framework/receive_description_test/trans/LOCK
framework/receive_description_test/trans/LOG
framework/receive_description_test/trans/LOG.old
framework/receive_description_test/trans/MANIFEST-000004
framework/receive_description_test/transactionHistoryStore/000005.log
framework/receive_description_test/transactionHistoryStore/CURRENT
framework/receive_description_test/transactionHistoryStore/LOCK
framework/receive_description_test/transactionHistoryStore/LOG
framework/receive_description_test/transactionHistoryStore/LOG.old
framework/receive_description_test/transactionHistoryStore/MANIFEST-000004
framework/receive_description_test/transactionRetStore/000005.log
framework/receive_description_test/transactionRetStore/CURRENT
framework/receive_description_test/transactionRetStore/LOCK
framework/receive_description_test/transactionRetStore/LOG
framework/receive_description_test/transactionRetStore/LOG.old
framework/receive_description_test/transactionRetStore/MANIFEST-000004
framework/receive_description_test/tree-block-index/000005.log
framework/receive_description_test/tree-block-index/CURRENT
framework/receive_description_test/tree-block-index/LOCK
framework/receive_description_test/tree-block-index/LOG
framework/receive_description_test/tree-block-index/LOG.old
framework/receive_description_test/tree-block-index/MANIFEST-000004
framework/receive_description_test/votes/000005.log
framework/receive_description_test/votes/CURRENT
framework/receive_description_test/votes/LOCK
framework/receive_description_test/votes/LOG
framework/receive_description_test/votes/LOG.old
framework/receive_description_test/votes/MANIFEST-000004
framework/receive_description_test/witness/000005.log
framework/receive_description_test/witness/CURRENT
framework/receive_description_test/witness/LOCK
framework/receive_description_test/witness/LOG
framework/receive_description_test/witness/LOG.old
framework/receive_description_test/witness/MANIFEST-000004
framework/receive_description_test/witness_schedule/000005.log
framework/receive_description_test/witness_schedule/CURRENT
framework/receive_description_test/witness_schedule/LOCK
framework/receive_description_test/witness_schedule/LOG
framework/receive_description_test/witness_schedule/LOG.old
framework/receive_description_test/witness_schedule/MANIFEST-000004
framework/receive_description_test/zkProof/000005.log
framework/receive_description_test/zkProof/CURRENT
framework/receive_description_test/zkProof/LOCK
framework/receive_description_test/zkProof/LOG
framework/receive_description_test/zkProof/LOG.old
framework/receive_description_test/zkProof/MANIFEST-000004
