# IDEA
.idea
*iml
.DS_Store

# gradle
.gradle
build

# log
logs
consensus-logs

# lombok
out

# levelDB
tron-data
database*

# database
database

# doc
doc

# gossip
pernodedata.*
ringstate.*
shareddata.*