<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="demo suite" >
    <test name="demoTests">
        <packages>
            <package name="stest.tron.wallet.*">
            </package>
        </packages>
<!--        <classes>
            <class name="stest.tron.wallet.Wallettest_p1.WalletTest_p1_Transfer_005">
            </class>
        </classes>-->
    </test>
</suite>