<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Stest" parallel="tests" thread-count="4">

  <listeners>
    <listener class-name="stest.tron.wallet.common.client.utils.RetryListener"/>
  </listeners>
  <test name="account,transfer">
    <packages>
      <package name="stest.tron.wallet.transfer">
      </package>
      <package name="stest.tron.wallet.account">
      </package>
    </packages>
  </test>

  <test name="exchangeandtoken,mutisign">
    <packages>
      <package name="stest.tron.wallet.exchangeandtoken">
      </package>
      <package name="stest.tron.wallet.mutisign">
      </package>
    </packages>
  </test>

  <test name="Contract linkage,block,node">
    <packages>
      <package name="stest.tron.wallet.contract.linkage">
      </package>
      <package name="stest.tron.wallet.block">
      </package>
    </packages>
  </test>

  <test name="contract scenario,committee,witness">
    <packages>
      <package name="stest.tron.wallet.contract.scenario">
      </package>
      <package name="stest.tron.wallet.committee">
      </package>
      <package name="stest.tron.wallet.witness">
      </package>
    </packages>
  </test>
</suite>